body {
margin: 0px 0px;
padding: 0px 0px;
background-image: url(images/stripe.png);
background-repeat: repeat-y;
background-position: top;
font-family: Trebuchet MS;
}
#background {
width: 100%;
margin: 0px 0px;
float: left;
}
#linksprimary {   background: url(images/head2.png) repeat; 
	height: auto; width: 970px; 
	text-align: left;  clear:both;
	padding-left: 0px; margin-top: -1px;
}


#schatten {   background: url(images/schatten.png) repeat-x; 
	height: 22px; width: 970px; 
	 clear:both;
	padding-left: 0px; margin-top: 0px;
}

.node { padding:15px; background:#fff;  border:6px solid #eee; }
#h1bottom
{ height: 14px;
background: url(images/h1bottom.png) repeat-x;
}

#pageWrap {
margin-top: 38px; 
font: 90% Arial, Helvetica, sans-serif;
width: 970px; 
margin: auto; background:#fff;
}
#pageWrap2 {
margin-top: 38px; 
font: 90% Arial, Helvetica, sans-serif;
width: 970px;
margin: auto; 
}
#outerColumn {background:#fff;}
.two-sidebars #outerColumn { margin-top: 9px;
border-left: 15em solid #eee; 
border-right: 15em solid #eee;
}
.sidebar-right #outerColumn { clear: both;
border-right: 15em solid #eee;
}
.sidebar-left #outerColumn {clear: both;
border-left: 15em solid #eee;
}
#innerColumn {
width: 100%; background: #fff;
}
#soContainer {
float: left;
width: 100%; background: #fff;
}
#header {
margin-top: 0px;
height: 116px; 
margin-left:0px;
background: url(images/bg_head.jpg) repeat-x; width:500px;
}
#header2 {
background: url(images/bg_header.jpg) no-repeat right;
}
#header-logo {
margin-top: -5px;
height: 100px; 
margin-left: -5px;
}
#content { margin-top: 6px; background: #fff;
min-height: 430px;float: right; 
height: auto !important;
height: 450px;
width: 100%; 
}
#content .block .item-list{  color: #000;
}
#leftCol {
float: left;
margin-left: -15em; 
width: 15em;
}
#rightCol {
float: right; 
margin-right: -15em; 
width: 15em;
}
#footer {clear: both;
background: url(images/head2.png) repeat-x; height:25px;
border-top: 1px solid #ccc;
color: #9ac0e3;
font-weight: bold;
font-size: 0.9em;
padding-bottom: 0px;
}
#footer img{border:none;}
.footer_left {
float: left;
width: 45%;
}
#footer ul.links li {
padding: 0 0 0 0.5em;
}
.footer_right {
float: right;
width: 45%;
font-weight: normal;
text-align: right;
}
#footer a:link, #footer a:visited, #footer a:hover {
color: #55738e; text-decoration:underline;
}
#footer .footer_right a {
font-weight: normal;
}
#header .inside {
padding: 6px 0 0 10px;
}
#content .inside { 
padding: 10px; 
}
#leftCol .inside { background: url(images/sleft.png) repeat-y;
padding: 0px 0 0px 0px; 
position: relative;
}
#rightCol .inside { background: url(images/sright.png) repeat-y;
padding: 0px 0px 0px 0px; 
position: relative;
}
#footer .inside {
padding: 10px;
}
.clr {
clear: both;
}
* html #soContainer, * html #content, * html #leftCol, * html #rightCol, * html .tabs {
overflow: visible;
position: relative;
}
* html, * html .mission, * html .sticky, * html .comment, * html #profile .profile {
height: 0.01%;
}
* html .poll input {
position: static;
}
*+html .poll input {
top: 1px;
}
* html .tabs .primary {
height: 17px;
}
* html .tabs a {
float: left;
margin-bottom: -1px;
}
*+html .tabs .primary {
height: 17px;
}
*+html .tabs a {
float: left;
}
a {
text-decoration: none;
font-weight: bold;
}
a:link {
color: #235aa4;
}
a:visited {
color: #235aa4;
}
a:active {
color: #235aa4;
}
a:hover {
text-decoration: underline;
color: #0053c3;
}
h1, h2, h3, h4, h5, h6 {
margin: 2px 0 4px 0;
}
h1 {
font:small-caps 1.75em "Century Gothic", "Trebuchet MS", "Arial Narrow", Arial, sans-serif;  
color: #031a3b;
}
h2 {
font:small-caps 1.85em  "Century Gothic", "Trebuchet MS", "Arial Narrow", Arial, sans-serif; 
color: #000; 
}
h2 a {
font:small-caps 1.15em  "Century Gothic", "Trebuchet MS", "Arial Narrow", Arial, sans-serif; 
}
h3 {
font:normal  1.1em  "Century Gothic", "Trebuchet MS", "Arial Narrow", Arial, sans-serif; 
color: #d72;
}
h4, h5, h6 {
font:normal  1.1em  "Century Gothic", "Trebuchet MS", "Arial Narrow", Arial, sans-serif; 
}
p {
margin-bottom: 0.9em;
line-height: 1.5em;
}
label {
cursor: pointer;
}
input, select, textarea {
font: 100% Arial, Helvetica, sans-serif;
}
td {
vertical-align: top;
}
.header_left {
float: left;
padding-top: 20px;
}
#header img, .header_text {
float: left;
}
.site-name {
font:small-caps 1.05em "Century Gothic", "Trebuchet MS", "Arial Narrow", Arial, sans-serif;  
letter-spacing: 0px;
margin: 0;
padding-top: 30px; font-weight:small; 
}
.site-name a:link, .site-name a:visited {
color: #fff;
font:small-caps 2.25em "Century Gothic", "Trebuchet MS", "Arial Narrow", Arial, sans-serif;
}
.site-slogan {
font-size: 11px;
color: #eee;
font-style: italic;
font-weight: bold;
}
.header_right {
float: right;
}
.search {
height: 40px;
text-align: right;
padding-right: 10px;
}
#header #search label {
color: #fff;
}
#header #search .form-text, #header #search .form-submit {
border: 1px solid #eee;
font-size: 11px;
}
#header #search .form-text {
width: 8em;
padding: 1px 2px 1px 2px;
}
#header ul.links li {  
padding: 0 0 0 0px;
}
#navlist { height:19px; line-height:19px; 
margin-bottom: 2px; padding-top: 1px; margin-top: 2px;
font-size: 14px; float: left; 
text-align:left;
}
#navlist ul { 
margin: 0; 
padding: 0px 0 0 0px; }
#navlist li {
margin: 0;
padding: 0;
padding-right: 2px;
float: left; text-align:left;
list-style: none; 
background: url(images/sub.png) 100% 0 repeat-y;
}
#navlist a { 
display: block; text-align:left; margin-top:0px;
float: left;
padding: 1px 20px; 0px; 20px;
height:19px; line-height:19px; background: url(images/button.png) repeat-x;
font:bold  14px "Century Gothic", "Trebuchet MS", "Arial Narrow", Arial, sans-serif;   
color: #CAC8C8; 
}
#navlist li a:hover { 
background: #000; text-align:left; color: #fff; text-decoration:none;
}
#subnavlist {
text-align: right;
margin-bottom: 10px;
}
#subnavlist a {
color: #fff;
}
#navlist a.active {
text-decoration: underline;
}
#subnavlist a.active {
font-weight: bold;
}
.mission {
background: #cdd;
padding: 1.5em 2em;
color: #222;
margin-bottom: 1em;
}
.mission a:link, .mission a:visited {
color: #9cf;
}
.node .content, .comment .content { border-top:2px solid #214473; padding:0px;
line-height: 1.5em; background:#fff;
}
.help {
font-size: 0.9em;
margin-bottom: 1em;
font-style: italic;
font-weight: bold;
}
.breadcrumb {
margin-bottom: 0.5em;
}
.tabs {
margin-bottom: 1em;
}
.messages {
background-color: #fc6;
border: 1px solid #ccc;
padding: 0.3em;
margin-bottom: 1em;
}
.error {
border-color: #f00;
}
tr.odd td, tr.even td {
padding: 0.3em;
}
fieldset {
border: 1px solid #eee;
}
pre {
background-color: #eee;
padding: 0.75em 1.5em;
font-size: 12px;
border: 1px solid #eee;
}
table {
font-size: 1em;
}
.form-item label { margin:auto;
font-size: 1em;
color: #6a7e98;
}
#content .item-list {
font-size: 0.9em; color:#000;
margin: 1em 0;
border-bottom: 1px solid #ccc;
}
.item-list .title {
font-size: 1em;
color: #6a7e98;
}
#leftCol .item-list ul, #rightCol .item-list ul {
margin: 1em 0 0; text-align:center;
}
#leftCol .item-list ul li, #rightCol .item-list ul li {
margin-left: 0.5em; text-align:center;
}
div.links { background: none;
clear: both;
color: #999;
font-size: 0.9em;
}
.node {
margin: 0.5em 0 2em 0;
}
.sticky {
padding: 0.5em;
background-color: #f9f9f9;
border: solid 1px #eee;
margin-top: 0;
}
.node .content, .comment .content {
margin: 0.5em 0 0.5em 0;
}
.node .taxonomy {
color: #999;
font-size: 0.8em;
text-align: right;
}
.submitted {
font-size: 0.85em;
font-style: italic;
}
.comment .submitted {
font-size: 0.9em;
}
.comment {
border: 1px solid #eee;
padding: 0.5em;
margin-bottom: 1em;
font-size: 0.9em;
}
.comment .title a {
font-size: 1.1em;
font-weight: normal;
}
.comment .new {
text-align: right;
font-weight: bold;
font-size: 0.8em;
float: right;
color: #f00;
}
.signature {
padding: 0.5em;
font-size: 0.9em;
background: #cdd;
margin: 1em;
}
.node .picture, .comment .picture {
float: right;
}
.comment div.links ul.links, .comment div.links ul.links li {
display: inline;
}
#aggregator .feed-source {
background-color: #eee;
border: 1px solid #eee;
padding: 1em;
margin: 1em 0 1em 0;
}
#aggregator h2 {
padding: 1em 0;
}
#aggregator .feed-item, #aggregator .links {
border-bottom: 1px solid #eee;
padding-bottom: 1em;
}
#aggregator .news-item .categories, #aggregator .source, #aggregator .age {
color: #999;
font-style: italic;
font-size: 0.9em;
}
#aggregator .title {
margin-bottom: 0.5em;
font-size: 1em;
}
#aggregator h3 {
margin-top: 1em;
}
#forum table {
width: 100%;
margin: 1.5em 0;
}
#forum tr td.forum {
background-position: 2px 0.5em;
}
#forum td {
padding: 0.5em;
}
#forum td.created, #forum td.posts, #forum td.topics, #forum td.last-reply, #forum td.replies, #forum td.pager {
white-space: normal;
}
#forum td.forum, #forum td.posts {
background-color: #eee;
}
#forum td.topics, #forum td.last-reply {
background-color: #ddd;
}
#forum td.container {
background-color: #ccc;
}
#forum td.container a {
color: #555;
}
#forum td.statistics, #forum td.settings, #forum td.pager {
height: 1.5em;
border: 1px solid #eee;
}
#forum td .name {
color: #96c;
}
#forum td .links {
padding-top: 0.7em;
font-size: 0.9em;
}
#forum .links {
font-size: 0.9em;
text-align: right;
}
.block-forum h3 {
margin-bottom: 0.5em;
}
#profile .profile {
clear: both;
border: 1px solid #eee;
padding: 0.5em;
margin: 1em 0em 1em 0em;
}
.profile h3 {
border: none;
margin-bottom: 1em;
}
#profile .profile .name {
padding-bottom: 0.5em;
}
#profile .profile .field {
font-size: 0.9em;
font-style: italic;
}
#book-outline {
min-width: 1em;
width: auto;
}
div.admin .left, div.admin .right {
margin: 0;
width: 49%;
}
div.admin-panel {
padding: 10px 0;
}
div.admin-panel .description {
color: #999;
}
div.admin-panel .body {
background: #f4f4f4;
}
div.admin-panel h3 {
background-color: #69c;
color: #fff;
padding: 5px 8px 5px;
margin: 0;
}
.poll .vote-form {
text-align: left;
}
.poll input {
position: relative;
top: 2px;
}
.poll .vote-form .choices {
display: block;
}
.block-poll div.title {
font-size: 1.1em;
color: #d72;
}
#user-login-form {
text-align: left; margin:auto; text-align:center;
}
.block #user-login-form ul {
padding: 0; margin:auto; text-align:center;
}
#leftCol .item-list ul li.openid-link, #rightCol .item-list ul li.openid-link, #leftCol #user-login-form .item-list ul li, #rightCol #user-login-form .item-list ul li {
list-style-type: none !important;
}
.item-list li a{color:#eee;}
#leftCol .block {
background: url(images/sleft.png) repeat-y; margin:0px; list-style-type: none !important; }
#rightCol .block {
background: url(images/sright.png) repeat-y; margin:0px; list-style-type: none !important; }
#user-login-form li.openid-link, #user-login li.openid-link {
padding-left: 1.5em;
background-position: center; text-align:center;
margin:auto;
}
.block, .box {
list-style-type: none !important;;
}
.block ul li { list-style-type: none !important; list-style-image: none;}
.block { 
font-size: 13px; margin:auto;
text-align:center;
color:#eee;
padding-bottom: 0.5em;
margin-bottom: 1.5em; 
width:216px;
list-style-type: none !important;;
}
.block a{
font-size: 13px; color:#fff;
list-style-type: none !important;;
}
.block #content{ padding-left:5px;list-style-type: none !important; list-style-image: none;}
#footer .block {
border: none;
padding-bottom: 0;
margin: 10px 0 0;
background: #f8f8ff; list-style:none;
}
.block h2.title { 
font:normal  14px "Century Gothic", "Trebuchet MS", "Arial Narrow", Arial, sans-serif;
color: #fff; height: 22px;  text-align:left;
background: url(images/head2.png) repeat-x; 
margin: 0 0 0.0em 0; text-decoration: none;
padding: 4px 2px 0px 25px;
}
.block h2.title a{ list-style-type: none !important;list-style-image: none;
font:normal  14px "Century Gothic", "Trebuchet MS", "Arial Narrow", Arial, sans-serif;
color: #fff; height: 22px;  
background: url(images/head2.png) repeat-x; 
margin: 0 0 0.25em 0; text-decoration: underline;
padding: 4px 2px 0px 25px;
}
#footer .block h2.title {
color: #fff; text-decoration: none;
background-color: #000;
margin: 0;
padding: 0;
}
.block .content, .box .content { padding-left:3px; padding-right:3px;
margin:auto; 
margin-top:5px; list-style-type: none !important;list-style-image: none;
}
.block ul { list-style-type: none !important; list-style-image: none; }
.block li 
{ display:block; background: url(images/lbottom.png) no-repeat left bottom; 
line-height:20px;  list-style-type: none !important;list-style-image: none;
}
.block li a
{ display:block; font-size: 12px;
width: 174px; margin-top:-2px; 
padding-bottom:3px; 
padding-left:4px;
margin-left:-5px;list-style-type: none !important;list-style-image: none;
}
.block li a:hover
{ 
text-decoration:none; background:none;
}
.block a:active
{ 
color:#eee;list-style-type: none !important;list-style-image: none;
}
.block a:focus
{ 
color:#eee;list-style-type: none !important;list-style-image: none;
}
#footer .block .content {
padding: 2px 0;
}
.box .title {
font-size: 1.1em;
}
.designed {
font-size: 0.7em;
}
.block li li a 
{  width: 130px;list-style-type: none !important;
}
.block li li li a
{  width: 126px;list-style-type: none !important;
}
.block li li a:hover
{  width: 130px;list-style-type: none !important;text-decoration:underline;
border-left:1px solid #eee;
}
.block li li li a:hover
{  width: 126px;list-style-type: none !important; text-decoration:underline;
border-left:1px solid #eee;
}
#lavaLampBorderOnly {
position: relative;
width:750px;
list-style: none;
padding: 2px;
margin: 0px 0;
overflow: hidden;
}
#lavaLampBorderOnly li {display:block;
float: left; background: url("images/strope.png") no-repeat right;
list-style: none; margin: 0 0px 0 0px; padding: 0 0px 0 0px; 
}
#lavaLampBorderOnly li.backLava {display:block;
background: #274875;
z-index: 8;
position: absolute;
}
#lavaLampBorderOnly li a {display:block;
text-decoration: none;
color: #fff;
outline: none;
text-align: center;
padding: 5px 7px;
text-transform: uppercase;
letter-spacing: 0;
z-index: 10;
display: block;
float: left;
position: relative;
overflow: hidden;
margin: auto 14px;
list-style:none;
}
#lavaLampBorderOnly li a:hover {
background: none;display:block;
}
.block {
position: relative;
padding: 0px;
margin: 10px 0;
overflow: hidden;
}
.block li {
list-style-type: none;display:block;
}
.block li.backLava {
border-left: 5px solid #eee; background:none; display:block;
z-index: 8;
position: absolute;
}
.block li a {
text-decoration: none;
color: #FFF;
outline: none;
text-align: left;
z-index: 10;
display: block;
position: relative;
overflow: hidden;
margin: auto 10px;
}
#menu {
font: 13px tahoma;
position:relative;
width:700px;
padding: 10px;
margin: 10px 0;
overflow: hidden;
}
#menu li {
float: left;
list-style: none;
}
#menu li.backLava {
background-color:#CDE2FF;
width: 9px;
position: absolute;
}
#menu li a {
text-decoration: none;
color: #000;
text-align: center;
padding: 2px 5px;
z-index: 10;
display: block;
position: relative;
margin: auto 5px;
}
#search-box input.form-submit {
background: #EFEBE7;
border: 1px solid #ccc;
color: #194765;
cursor: pointer; 
font-family: Tahoma,Verdana,Arial,Helvetica,sans-serif;
font-size: 1.1em;
font-weight: normal;
padding: 3px 3px 2px;
outline: none;
text-transform: none;
-moz-border-radius: 0;
-moz-outline-radius: 0;
-webkit-border-radius: 0;
}
input.form-submit,
input.teaser-button {
border: 1px solid #fff;
color: #6a7e98;
cursor: pointer;
font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
font-size: 0.916em;
font-weight: bold;
margin: 0 4px;
padding: 2px 4px;
text-transform: uppercase;
outline: 1px solid #9BABB0;
-moz-border-radius: 4px;
-moz-outline-radius: 4px;
-webkit-border-radius: 4px;
}
input.form-submit:hover,
input.teaser-button:hover  {
background-position: right center;
cursor: pointer;
}  
fieldset {
border: 1px solid #D6DDB9;
margin: 15px 0;
padding: 10px;
}
fieldset.collapsed {
}
fieldset legend {
font-weight: bold;
}
html.js fieldset.collapsible legend a {
font-weight: bold;
}
form#system-theme-settings select,
form#system-theme-settings input.form-text {
width: 95%;
}
.block li a.active {
color:#eee;
}
.block #user-login-form ul li a{
text-align:center;
}
.inside .item-list a{ color:#000;}
.block .item-list a{ color:#000;}
.inside .item-list { color:#000;}
.block .item-list { color:#000;}
#leftCol .block .item-list a{ color:#eee;}
#rightCol .block .item-list a{ color:#eee;}
#leftCol .block .item-list { color:#eee;}
#rightCol .block .item-list { color:#eee;}
#leftCol .block-inner {
width: 15em; background: url('images/222.jpg') no-repeat bottom center;
padding: 0 0 35px;
}
#rightCol .block-inner {
width: 15em; background: url('images/222.jpg') no-repeat bottom center;
padding: 0 0 35px;
}
.block  { color:#000;}
#leftCol .block  { color:#eee;}
#rightCol .block  { color:#eee;}
